<br>
<div class="container" style="padding: 2%;">
    <div class="row">
        <form class="row g-3">
            <div class="col-md-7">
                <label for="inputPassword4" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-5">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-4">
                <label for="inputAddress" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="(62) 9 9294-7507">
            </div>
            <div class="col-8">
                <label for="inputAddress2" class="form-label">Campo de Estudo</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Java">
            </div>
            <div class="col-12" style="padding-top: 2%; width: 1000% !important;">
                <button type="submit" class="btn btn-success btn-sm">Salvar</button>
            </div>
        </form>
    </div>
</div>